body {
  font-family: 'Segoe UI', sans-serif;
  background: #56667A;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #A7ADC6;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.2);
}

.todo-item label {
  font-size: 16px;
  color:#2C1320;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #5F4B66;
}
